{
  "presets": [
    ["@babel/env", {"modules": false}],
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env"],
        "@babel/preset-react"
      ]
    }
  }
}
